.registration-component {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 4px;
}

.registration-component-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.registration-component-item:nth-child(2) {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-end;
    margin: 16px 8px 8px 0px;
}


.registration-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 4px;
}

.registration-form-item {
    margin: 4px;
}

.registration-form-item:nth-child(6) {
    margin-top: 16px;
    align-self: flex-end;
}